body {
    background: whitesmoke;
}
.right_content {
  position: fixed;            
  top: 0;
  right: 5px;
  width: 50vw;              
  height: 100vh;             
  overflow: hidden;
}

.anhlamviec {
  width: 100%;
  height: 100%;
  object-fit: cover;        
  display: block;
}
.navbar {
    /* background: rgb(227, 205, 205); */
    
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    left: 0; top: 0;
    width: 100%; 
}
.nav_left a {
    display: flex; 
    align-items: center; 
    text-decoration: none; 
    color: inherit; 
    gap: 10px;
    font-size: 40px;
}
.nav_left a:hover {
    color: blue;
    cursor: pointer;
}
.anhlogo {
    width: 55px;
    height: 55px;
    border-radius: 50px;
    justify-items: center;
}
.menu_list {

}
.container_menu {
    display: flex;
    gap: 70px;
    list-style: none;
    font-size: 25px;
}
.container_menu li:hover {
    color: blue;
    cursor: pointer;
}

.nav_right {
    display: flex;
    gap: 30px;
    align-items: center;
    font-size: 30px;
    margin-right: 35px;
}

.nav_right_signin:hover {
    color: blue;
    cursor: pointer;
}
.nav_right_signup {
    background: blue;
    border-radius: 10px;
    padding: 10px;
}
.nav_right_signup:hover {
    color: white;
    cursor: pointer;
}

.modal {
    width: 100%;
    height: 100vh;
    display: none;
    margin-top: 100px;
    
    
    
}
.modal-content {
    margin: auto;
    background-color: rgb(255, 255, 255); /* trắng đục */
    width: 555px;
    height: 600px;
    
    border-radius: 10px;
}

.up_cat {
    display: flex;
    justify-content: space-between;
    background: gray;
    width: 100%;
    border-radius: 10px 10px 0 0;
    
}
.div_p {
    margin-left: 20px;
}
h2  {
    font-size: 35px;
    color: whitesmoke; 
    margin-left: 20px;
}
.close-btn {
    font-size: 35px;
    color: rgb(221, 218, 218); 
    margin: 15px ;
}
.close-btn:hover {
    cursor: pointer;
    color: whitesmoke;
}

.item {
    margin: 20px;
    display: flex;
}
.item input {
    flex: 1;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
}
.button-container {
  display: flex;
  justify-content: center;
  
}
.button-container button {
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid #ccc;
    color: rgb(238, 237, 237);
    background: blue;
    font-size: 20px;
}




