
.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

.TableCustom th {
    background: rgba(198, 196, 196, 0.8);
}
.th-custom {
    width: 160px;
}
.hh-custom {
    width: 100px;
}
.kh-custom {
    width: 30px;
}
.text-center-custom{
    width: 500px;
}
.link-custom {
    font-size: 0;
}
.btn-search{
    border-radius: 11px;
    height: 40px;
    padding: 10px;
    width: 30%;
    border: 1px solid #ccc;
}

