body {
    display: flex;
    width: 100%;
    justify-content: center;
    align-content: center;
    box-sizing: border-box;
    background: rgb(224, 221, 221);
}

h1 {
    text-align: center;
}
h4 {
    text-align: center;
    margin-top: 70px;
}
h5 {
     text-align: center;
     margin-top: 10px;

}
.line {
    border:#c6cae3 solid 1px;
}
.container {
    
    width: 666px;
    margin-top: 150px;
    border-radius: 10px;
    border: #5f4ae7 solid 1px;
    background: white;
    padding: 20px;
}

.item {
    margin: 30px;
    display: flex;
}

.item label {
    width: 77px;
    margin-top: 10px;
}
.item input {
    flex: 1;
    height:35px;
    border-radius: 7px;
    margin-bottom: 20px;
    border: #5f4ae7 solid 1px;
    padding: 3px;
}

 .submit_form button {
   margin-left: 265px ;
   height: 50px;
   width: 150px;
   border-radius: 5px;
   border: #5f4ae7 solid 1px;
   background: #5f4ae7;
   color: whitesmoke;

}
 .submit_form button:hover {
    cursor:pointer;
    background: #2c0eec;
}

h4 a {
    text-decoration: none;
    color: #452ddf;
    padding: 10px;
    background: rgb(21, 226, 21);
    color: whitesmoke;
    border-radius: 7px;
    margin-left:10px ;
}
h5 a {
    text-decoration: none;
    color: #2c0eec;
}

.container_password {
    display: flex;
    align-content: center;
    gap: 5px; 
    width: 100%;
    border: #5f4ae7 solid 1px;
    height:41px;
    border-radius: 7px;
    margin-left: 10px;

}
.container_password input {
    border: none;
}


.container_password button {
    padding: 0;
    margin:  5px ;
    background: none;
    border: none;
    
}


